
                    <div class="checkbox">
                    <label>
                    <input class="radio{{ j }}" type="checkbox" name="checkbox{{ j }}" id="optionsCheck" value="{{answerId}}" />
                    {{answerText}}
                    </label>
                    </div>